<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!ios && !showSearchbar">Mis inversiones</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!showSearchbar" (click)="getInversiones()">
        <span *ngIf="ios">Actualizar</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis inversiones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list #scheduleList [hidden]="inversiones.length === 0">
    
      <ion-item-sliding *ngFor="let inversion of inversiones" #slidingItem [attr.track]="inversion.estado | lowercase">
        <ion-item routerLink="/app/tabs/schedule/session/{{inversion.id}}">
          <ion-label>
            <h3>{{inversion.estado | titlecase}}</h3>
            <p>
              <strong>Fecha de cobro: </strong>{{inversion.fecha_pago}} &mdash; $ {{inversion.monto}} 
            </p>
            <container-element [ngSwitch]="inversion.dias_pago">
              <ion-badge *ngSwitchCase="inversion.dias_pago > 30" color="danger">{{ inversion.dias_pago }} dias restantes</ion-badge>
              <ion-badge *ngSwitchCase="0" color="success">{{ inversion.dias_pago }} dias restantes</ion-badge>
              <ion-badge *ngSwitchDefault color="primary">{{ inversion.dias_pago }} dias restantes </ion-badge>
           </container-element>
          </ion-label>
        
        </ion-item>

        <circle-chart [porcentaje]="inversion.porcentaje_progreso" [utilidad]="inversion.total_utilidad"></circle-chart>

       
      </ion-item-sliding>
   
  </ion-list>


  <ion-list *ngIf="inversiones.length === 0">
    <ion-list-header>
      <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
