<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="padding-top: 0px;">
    <ion-button (click)="cargarFoto()" type="buttom" expand="block" color="success">Cargar comprobante 
      <ion-icon slot="start" name="camera"></ion-icon>
    </ion-button>
  </div>

  <img [src]="inversion_img" class="slide-image" />

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
