<ion-content class="speaker-detail">
  <ion-header translucent="true">
    <ion-toolbar>
      <ion-buttons *ngIf="!showSearchbar" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <div class="speaker-background">
    <ion-avatar class="item-avatar-custom">
      <img [src]="getAvatar()" [alt]="user?.name">
    </ion-avatar>

    <h2>{{user?.name}}</h2>
  </div>

  <div class="ion-padding speaker-detail">
    <p>Fecha de registro: {{ user?.created_at | date: 'fullDate' }}.</p>
    <p>Email: {{ user?.email }}.</p>
    <p>Ranking: {{ user?.ranking }}.</p>
    <hr>

    <ion-chip (click)="cargarFoto()" class="cambiarFoto" color="instagram" button>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-label>Cambiar foto de perfil</ion-label>
    </ion-chip>
  </div>

</ion-content>
