<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nueva Inversión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <form #inversionForm="ngForm" validate>
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked" color="primary">Monto a invertir</ion-label>
        <ion-input class="monto" [(ngModel)]="inversion.monto" name="monto" type="number" #monto="ngModel" min="1" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="monto.valid || submitted === false" class="ion-padding-start">
          El monto es requerido
        </p>
      </ion-text>

      <ion-text color="danger">
        <p [hidden]="monto.valid || submitted === false" class="ion-padding-start">
          El tipo de inversión es requerido
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Tipo/Tasa de inversión</ion-label>
        <ion-select placeholder="Seleccione la tasa de inversión" [(ngModel)]="inversion.tasa" name="tasa" #tasa="ngModel" (ionChange)="calculateAproximado()" required>
          <ion-select-option *ngFor="let inversion of tiposInversion" [value]="inversion.tasa" >{{ inversion.nombre }} - {{ inversion.tasa }}%</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Dias de inversión</ion-label>
        <ion-select placeholder="Seleccione los dias de inversion" [(ngModel)]="inversion.dias_inversion" name="dias_inversion" #dias_inversion="ngModel" (ionChange)="calculateAproximado()" required>
          <ion-select-option *ngFor="let diaInversion of diasInversion" [value]="diaInversion.dias" >{{ diaInversion.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="dias_inversion.valid || submitted === false" class="ion-padding-start">
          El tipo de inversión es requerido
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Monto aproximado a recibir</ion-label>
        <ion-input class="monto" [(ngModel)]="inversion.monto_recibir" name="monto_recibir" #monto_recibir="ngModel" type="number" readonly>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Cargar comprobante de pago</ion-label>
      </ion-item>

      <ion-thumbnail *ngIf="imagen_src">
        <img [src]="imagen_src" class="slide-image" />
      </ion-thumbnail>

      <div style="padding-top: 0px;">
        <ion-button (click)="cargarFoto()" type="buttom" expand="block" color="success">Cargar comprobante 
          <ion-icon slot="start" name="camera"></ion-icon>
        </ion-button>
      </div>
      
    </ion-list>

    <div>
      <ion-button (click)="onSubmit(inversionForm)" type="submit" expand="block" [disabled]="!inversionForm.valid">Invertir</ion-button>
    </div>
  </form>

</ion-content>
